@inherits LayoutComponentBase

<header>
    <div class="header-container">
        <h1>.NET</h1>
        <NavMenu />
    </div>
</header>
<div class="container">
    <main>
        @Body
    </main>
</div>
<footer>
    <p>Exempel av Andreas Nygård, 2025</p>
</footer>
