@page "/"

@*Title*@ <PageTitle>Home</PageTitle>

<div class="main-content">
    <section class="welcome-section">
        <h2>Välkommen</h2>
        <p>Detta är uppgiften i laboration 1.1 i kursen "Webbutveckling med .NET". Den går ut på att skapa en webbplats med Blazor WebAssembly. </p>
        <p>All dynamisk kod, som på denna webbplats ligger på undersidorna "Konvertering" och "JSON", är 
            skriven med C#-kod.
        </p>
        <p>Designen är importerad från uppgift 1.1 i samma moment. </p>
    </section>
    <h3>Tryck på bilden</h3>
    <PictureComponent />
</div>
